* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* HEADER START*/
header {
    background: #fffcf4;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    height: 50px;
    margin: auto;
}

.header .body {
    display: flex;
    align-items: center;
}