* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* HEADER START*/
.header {
    background: #fffcf4;
}

a {
    text-decoration: none;
}

.header .main-content {
    width: 1170px;
    /* Thêm dòng này để khi resize không bị dính  */
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.btn {
    display: inline-block;
    min-width: 118px;
    color: #ffffff;
    font-weight: 600;
    padding: 0 16px;
    font-size: 1.6rem;
    background-color: #171100;
    border-radius: 24.5px;
    text-align: center;
    /* Phải có display inline block thì nó mới ăn line height */
    line-height: 50px;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    background: #171100;
    height: 2px;
    border-radius: 1px;
    bottom: 6px;
    left: 21px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}